/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.img1 {
  float: left;
  display: block;
  border: 4px transparent;
  column-count: 1;
 
}

.right {
  position: absolute;
  right: 0px;
  width: 200px;
  column-count: 2;
  
}

.img3 {
  float: left;
  border: 5px;
  column-count: 3;
  column-gap: 50px;
  
}
